body {
  margin: 0 auto;
  max-width: 750px;
  background-color: rgba(150,160,150,1)
}
header {
  text-align: center;
  background-image: url('./images/IMG_3858.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  margin: 0 auto;
}
h1 {
  font-size: 70px;
  font-family: Verdana, sans-serif;
  padding: 70px 0px 200px 0px;
}
h2 {
  font-size: 30px;
  font-family: Arial, sans-serif;
}
p {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.5));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.5));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.5));
  padding: 10px;
  line-height: 28px;
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: left;
}
small {
  text-align: right;
}
a {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Verdana", sans-serif;
}
ul {
  padding:10px;
  background: rgba(0, 0, 0, 0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

/*.page-body {
  margin: 0 auto;
}
.col-xs-6 {
  padding: 20px;
  border-width: 50px;
  height: 337px;
  max-width: 600px;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}*/

.col-xs-6 {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 40px 0 0 0;
}

#teacher {
  background-color: rgba(100, 100, 100, 1);
}
#handyperson {
  background: url("./images-homepage/IMG_1701_bw.jpg");
}
#artist {
  background: url("./images-homepage/IMG_3060_bw.jpg");
}
#caregiver {
  background: url("./images-homepage/IMG_0405_bw.jpg");
}
#traveller {
  background: url("./images-homepage/IMG_4084_bw.jpg");
}
#learner {
  background: url("./images-homepage/IMG_2214_bw.jpg");
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }
  li {
    display: block;
    padding: 5px;
  }
  ul{
    margin-top: 50px;
  }
}
